---
layout: markdown_page
title: Defend Section
---

## On this page
{:.no_toc}

- TOC
{:toc}

## Vision

For more details about the vision for this area of the product, see the [Defend stage] page.

## Mission

The Defend team works on GitLab's [Defend stage](/stages-devops-lifecycle/defend/).

[Secure stage]: /stages-devops-lifecycle/defend/

## Team Members

The following people are permanent members of the Defend Section:

<%= direct_team(manager_role: 'Director of Engineering, Defend') %>

## Stable Counterparts

The following members of other functional teams are our stable counterparts:

<%= stable_counterparts(role_regexp: /[,&] Blank/, direct_manager_role: 'Director of Engineering, Defend') %>

## Defend Team

The Defend Team is responsible for defending apps and infrastructure from security intrusions.  The team maps to the [defend](/handbook/product/categories/#defend) transversal page. You can learn more about our approach on the [Defend Vision](/direction/defend/) page.

## Domains of expertise

### RASP

When applications are deployed to production, they are subject to real security threats that may lead to unauthorized access to sensitive data. Runtime Application Self Protection (RASP) actively monitor and block threats before they can exploit a vulnerability in the target application.

### WAF

A Web Application Firewall (WAF) is able to examine traffic being sent to an application and can block malicious requests before they reach your application.

### Threat Detection

Detect and respond to security threats.

### UEBA

User and Entity Behavior Analytics (UEBA) is a machine learning solution to analyze normal and aberrant behavior.

### Vulnerability Management

Security dashboards to help you manage vulnerabilities in your application.

### DLP

Data Loss Prevention (DLP) is a way to monitor systems for sensitive data and identify when that data is being moved to other systems and potentially shared outside your organization.

### Storage security

_TBD_

### Container Network security

_TBD_

## Label Usage

_TBD_

## Release process

_TBD_

## Skills

_TBD_

## Engineering Rhythm

_TBD_

## Product Documentation

## Common Links

  * [#s_defend](https://gitlab.slack.com/archives/s_defend) in Slack

## How to work with us

_TBD_